.container_header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: white;
  padding: 16px 0;
  box-shadow: 0px 6px 30px rgba(15, 15, 15, 0.06);
  margin-bottom: 70px;
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  &-item {
    padding: 14px 22px;
    border-radius: 10px;
    background-color: #f4f5f9;
    cursor: pointer;
    display: block;
    transition: all 1 linear;
    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
}
